<!DOCTYPE html>
<html>
<head>
  <title>DemoApi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
    <div>
      Logged in as <%= current_user.username %> | <%= link_to "Log out", logout_path %>
    </div>
  <% else %>
    <div><%= link_to "Log in", login_path %></div>
  <% end %>

  <% if flash.alert.present? %>
    <div><%= flash.alert %></div>
  <% end %>

  <marquee>
    <%= image_tag("welcome_banner.jpg", style: 'height: 100px;') %>
  </marquee>

<%= yield %>

  <div><%= image_tag("construction.jpg") %></div>

</body>
</html>
